
body {
    background-color: #faf2e4;
    margin: 0 10%;
    font-family: Verdana, sans-serif;
}
h1 {
    text-align: center;
    font-family: "Marko One", Georgia, serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}  
h2 {
    color: #d1633c;
    font-size: 1.35em;
}
footer {
    border-top: 1px solid #57b1dc;
    text-align: center;
    padding-top: 1em;
}
footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
} 
#IconX {
    width: 50px;
    height: 35px;
    margin-left: .5em;
    margin-right: .5em;
}
.column {
    float: left;
    width: 33.33%;
    padding: 2px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 2px;
}
ul {
    text-align: left;
    font-weight: bold;
    line-height:25px;
    margin-left:-36px;
}
#navi li{
    list-style-type: none;
}
.gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 200px;
    max-height: 200px;
    contain: content;
}
