@charset "UTF-8";
/*Font usage:
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900*/

body {
            
    background-color: #CAD4F2;
}

.rubik-serif {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

h1 {
    margin: 0 8%;
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
    border-bottom: 2px solid #2D3AEC;
    padding-left: 20px;
    
}
h2 {
    text-align: left;
    font-size: 40px;
    text-decoration: underline 2px #2D3AEC;
}

.NeikLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    padding: 1rem;
    display: inline-block;
}

#exp-li {
    color: #2D3AEC
}
#navi { 
    text-align: center;
    font-family: serif;
    font-size: 24px;
}
.Footertext {
    text-align: center;
    color: azure;
    text-decoration: underline;
}
.text {
    margin: 0 8%;
    font-family: serif;
    font-size: 24px;
    display: inline-block;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 5px;
    width: 100%;
}

.footer-img {
    width: 50px;
    height: auto; 
} 

footer {
    background-color: #2D3AEC;
    padding: 0 -150px 50px 0;    
}
.artwork-img img{
    width: auto;
    height: 430px;
}